<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >post title</label
        >
        <input
          type="text"
          class="form-control"
          required
          name="title"
          [ngModel]="post.title"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >post body</label
        >
        <textarea
          class="form-control"
          rows="3"
          required
          name="body"
          [ngModel]="post.body"
        ></textarea>
      </div>
      <div class="">
        <button [disabled]="f.invalid" class="btn btn-primary">
          {{ postId ? "update" : "create" }}
        </button>
      </div>
    </form>
  </div>
</div>
